@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Antonios Fesenmeier<br />
    Sattlerweg 2<br />
    85254 Sulzemoos<br />   
</address>

<address>
    <strong>Telefon:</strong>(+49)8135 / 9919844<br />    
    <strong>E-Mail:</strong>toni-fesenmeier@web.de<br />    
</address>
